*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 0.8s;
  }

:root{ --color-clicks-main: #ddff00; }

body{
    height: 100vh;
    width: 100vw;
    background: rgb(221,255,0);
    background: linear-gradient(90deg, rgba(221,255,0,1) 0%, rgba(0,237,255,1) 100%);
  }
  
.container{
    display: flex;
    justify-content: center;
    padding-top: 7.5rem;
  }

  .mem-slider{
    display: grid;
    grid-template-areas: 
    "a a"
    "b c";
    grid-template-columns: 70% 30%;
    grid-template-rows: 25rem 2rem;
    row-gap: 1rem;
    background: rgba(255, 255, 255, 0.5);

    margin: 0 1rem;
    width: 40rem;
    padding: 1rem 1rem;
    border-radius: 2rem;
  }

  input{
    display: none;
  }

  .sliders{
    grid-area: a;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
  }

  .slider{
    border-radius: 2rem;
    transform: translateX(100%) scale(0);
    transition: all 0.5s ease;
  }

  #r1:checked ~ .sliders .slider:nth-child(1),
  #r2:checked ~ .sliders .slider:nth-child(2),
  #r3:checked ~ .sliders .slider:nth-child(3),
  #r4:checked ~ .sliders .slider:nth-child(4){
    order: -1;
    object-fit: cover;
    transform: translateX(0) scale(1);
  }

  .texts{}
